/*Inicio*/
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
html {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
header{
    width: 100%;
    height: 10vh;
    padding: 5px;
    float: left;
    text-align: center;
    background-color: rgb(20, 20, 20);
    border-bottom: 10px solid rgb(212, 175, 55);
    position: fixed;
    top: 0;
}
div.titulo{
    width: 89%;
    text-align: center;
    float: left;
    display: inline;
}
div.logo{
    width: 4%;
    height: 80%;
    float: left;
    display: inline;
    border-radius: 100%;
    border: rgba(0, 0, 0, 0) 5px solid;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;
}
div.logo img {
    width: 100%;
    height: 100%;
}
header h1 {
    width: fit-content;
    height: fit-content;
    padding: 5px 1% 0 1%;
    font-family: 'UnifrakturMaguntia', cursive;
    background-color: white;
    border: 5px solid rgb(212, 175, 55);
    border-radius: 50px;
    text-shadow: 3px 3px rgb(212, 175, 55);
    font-size: 400%;
}
div.menu{
    width: 4%;
    height: 80%;
    float: right;
    display: inline;
    margin: 0.2%;
    border-radius: 100%;
    border: rgba(0, 0, 0, 0) 5px solid;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;
    margin-right: 7px;
}
div.menu img {
    padding: 5%;
    width: 90%;
    height: 90%;
}
main {
    margin-top: 12vh;
    width: 98%;
    min-height:75.6vh;
    padding: 1%;
    float: left;
    background-color: rgb(230, 230, 230);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgb(0, 0, 0);
    font-style: italic;
}
footer {
    width: 100%;
    min-height: fit-content;
    padding: 1px;
    float: left;
    vertical-align: middle;
    background-color:rgb(235, 215, 140);
}
div.contact {
    width: auto;
    height: 100%;
    float: left;
    display: inline;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 20px;
}
div.contact a {
    color: rgb(75, 60, 0);
    padding: 0px 8px;
    text-decoration: none;
}
div.link {
    width: 12%;
    height: auto;
    float: right;
    display: inline;
    margin-right: 1%;
}
div.link img {
    width: 100%;
    height: 100%;
    border: 5px solid rgba(255, 255, 255, 0);
}
div.copyleft {
    width: 3.4%;
    vertical-align: middle;
    float: right;
    display: inline;
    border-radius: 100%;
    border-image: none;
    border: rgba(0, 0, 0, 0) 5px solid;
}
div.copyleft a{
    height: 0px;    
}
div.copyleft img {
    margin: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
}
main div {
    float: left;
    display: inline;
    padding: 5px;
    border: 5px solid;
    color: black;
    background-color: white;
    border: rgb(212, 175, 55) 5px solid;
    border-radius: 10px;
}
footer p {
    float: right;
    vertical-align: middle;
    height: 100%;
    margin: 1.5% 0;
    margin-left: 5px;
}
div.contact a:hover:not(.active) {
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 2px 2px 5px rgb(212, 175, 55);
    border-radius: 20px;
    box-shadow: 2px 2px 5px rgb(212, 175, 55);
}
div.copyleft img:hover:not(.active) {
    background-color: rgba(255, 255, 255);
}
div.link img:hover:not(.active) {
    border: 5px solid rgb(212, 175, 55);
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
}
div.logo:hover:not(.active) {
    background-color:  rgba(212, 175, 55, 0.600);
    border-color: rgb(212, 175, 55);
}
div.menu:hover:not(.active) {
    background-color:  rgba(212, 175, 55, 0.600);
    border-color: rgb(212, 175, 55);
}
/*Generico*/