
header{
    position: absolute;
}
.fondoFormulario {
    position: relative;
    left: 25%;
    right: 20%;
    width: 95vh;
    height: 125vh;
    background-image: url(https://i.pinimg.com/originals/eb/a0/d1/eba0d156014164b6ac94ab9b183e48f6.png);
    border: none;
}
#formulario {
    font-style: italic;
    font-size: 115%;
    position: relative;
    text-align: center;
    top: 20vh;
    width: 95vh;
    height: 60vh;
    background-image: none;
    border: none;
}
input {
    font-style: italic;
    font-size: large;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid black;
    margin-left: 2vh;
    margin-top: 1vh;
}