/*Inicio*/
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
html {
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
}
body {
    width: 100%;
    height: 100%;
    margin: 0px;
}
header{
    width: 100%;
    height: 10vh;
    padding: 5px;
    float: left;
    text-align: center;
    background-color: rgb(20, 20, 20);
    border-bottom: 10px solid rgb(212, 175, 55);
    position: fixed;
    top: 0;
    box-shadow: 5px -10px 18px 10px rgb(212, 175, 55);
}
header h2 {
    position: fixed;
    color: white;
    font-family: 'UnifrakturMaguntia', cursive;
    float: right;
    right: 5%;
    margin: 4vh 5px;
    text-shadow: 3px 3px rgb(80, 80, 80);
    background-color: rgba(0, 0, 0, 0);
}
div.titulo{
    width: 89%;
    text-align: center;
    float: left;
    display: inline;
}
div.logo{
    width: 4%;
    height: 80%;
    float: left;
    display: inline;
    border-radius: 100%;
    border: rgba(0, 0, 0, 0) 5px solid;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;
    transition: ease-out 0.4s;
}
div.logo img {
    width: 100%;
    height: 100%;
}
header h1 {
    width: fit-content;
    height: fit-content;
    padding: 5px 1% 0 1%;
    font-family: 'UnifrakturMaguntia', cursive;
    background-color: white;
    border: 5px solid rgb(212, 175, 55);
    border-radius: 50px;
    text-shadow: 3px 3px rgb(212, 175, 55);
    font-size: 400%;
    text-align: center;
    margin: 2px auto 10px auto;
}
div.menu{
    width: 4%;
    height: 80%;
    float: right;
    display: inline;
    margin: 0.2%;
    border-radius: 100%;
    border: rgba(0, 0, 0, 0) 5px solid;
    background-color: rgba(0, 0, 0, 0);
    padding: 2px;
    margin-right: 7px;
    transition: ease-out 0.4s;
}
div.menu img {
    padding: 5%;
    width: 90%;
    height: 90%;
}
main {
    margin-top: 11.5vh;
    width: 98%;
    min-height:75.6vh;
    padding: 1%;
    float: left;
    background-color: rgb(230, 230, 230);
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: rgb(0, 0, 0);
    font-style: italic;
}
footer {
    width: 100%;
    min-height: fit-content;
    padding: 1px;
    float: left;
    vertical-align: middle;
    background-color:rgb(235, 215, 140);
}
div.contact {
    width: auto;
    height: 100%;
    float: left;
    display: inline;
    color: black;
    padding: 5px 10px;
    border-radius: 10px;
    margin-left: 20px;
}
div.contact a {
    color: rgb(75, 60, 0);
    padding: 0px 8px;
    text-decoration: none;
    transition: ease-out 0.4s;
}
div.link {
    width: 12%;
    height: auto;
    float: right;
    display: inline;
    margin-right: 1%;
}
div.link img {
    width: 100%;
    height: 100%;
    border: 5px solid rgba(255, 255, 255, 0);
    transition: ease-out 0.4s;
}
div.copyleft {
    width: 3.4%;
    vertical-align: middle;
    float: right;
    display: inline;
    border-radius: 100%;
    border-image: none;
    border: rgba(0, 0, 0, 0) 5px solid;
}
div.copyleft a{
    height: 0px;    
}
div.copyleft img {
    margin: 5%;
    width: 90%;
    height: 90%;
    border-radius: 100%;
    transition: ease-out 0.4s;
}
main div {
    float: left;
    display: inline;
    padding: 5px;
    border: 5px solid;
    color: black;
    background-color: white;
    border: rgb(212, 175, 55) 5px solid;
    border-radius: 10px;
    box-shadow: 5px 5px 18px rgb(100, 100, 100);
}
footer p {
    float: right;
    vertical-align: middle;
    height: 100%;
    margin: 1.5% 0;
    margin-left: 5px;
}
div.contact a:hover:not(.active) {
    background-color: rgb(255, 255, 255);
    color: black;
    box-shadow: 2px 2px 5px rgb(212, 175, 55);
    border-radius: 20px;
}
div.copyleft img:hover:not(.active) {
    background-color: rgba(255, 255, 255);
}
div.link img:hover:not(.active) {
    border: 5px solid rgb(212, 175, 55);
    background-color: rgba(255, 255, 255);
    border-radius: 20px;
}
div.logo:hover:not(.active) {
    background-color:  rgba(212, 175, 55, 0.600);
    border-color: rgb(212, 175, 55);
}
div.menu:hover:not(.active) {
    background-color:  rgba(212, 175, 55, 0.600);
    border-color: rgb(212, 175, 55);
}
nav {
    z-index: -1;
    position: fixed;
    background-color: rgb(20, 20, 20);
    float: right;
    right: 0px;
    width: 30%;
    height: 100%;
    border-left: solid rgb(212, 175, 55) 10px ;
    box-shadow: 5px -10px 18px 10px rgb(212, 175, 55);
}
nav div.menu{
    position: fixed;
    float: right;
    right: 0px;
    margin: 0.38% 0px;
    width: 4%;
    height: 8vh;
    z-index: 11;
}
nav ul {
    list-style-type: none;
    width: 76vh;
    margin: 0px;
    padding: 0px;
}
nav li {
    font-size: larger;
    font-weight: bolder;
    width: 80%;
    padding: 2.5% 1%;
    text-align: center;
    margin: 0px 0px 5% 0px;
    transition: ease-out 0.6s;
    vertical-align: middle;
}
nav h1 {
    color: white;
    font-size: 300%;
    font-family: 'UnifrakturMaguntia', cursive;
    font-style: italic;
    text-decoration: none;
    text-shadow: 3px 3px rgb(80, 80, 80);
    margin: 0px;
}
nav a {
    color: white;
    font-size: 300%;
    font-family: 'UnifrakturMaguntia', cursive;
    font-style: italic;
    text-decoration: none;
    text-shadow: 3px 3px rgb(80, 80, 80);
}
li.red:hover:not(.active) {
    box-shadow: inset 1000px 0 0 0 red;
}
li.blue:hover:not(.active) {
    box-shadow: inset 1000px 0 0 0 blue;
}
li.black:hover:not(.active) {
    box-shadow: inset 1000px 0 0 0 black;
}
li.green:hover:not(.active) {
    box-shadow: inset 1000px 0 0 0 rgb(0, 179, 0);
}
li.white:hover:not(.active) {
    box-shadow: inset 1000px 0 0 0 rgb(255, 255, 102);
}
li.white a:hover:not(.active) {
    color: black;
}
li.darkMode {
    padding: 0% 1%;
}
nav p {
    display: inline-block;
    margin: 0px 10px;
    color: white;
    font-size: 200%;
    font-family: 'UnifrakturMaguntia', cursive;
    font-style: italic;
    text-decoration: none;
    text-shadow: 3px 3px rgb(80, 80, 80);
}
nav div {
    display: inline block;
    background: white;
    width: fit-content;
    height: fit-content;
    padding: 5px;
    border-radius: 50px;
    margin: auto;
    transition: all 0.25s ease 0s;
}
label.switch {
    width: 40px;
    height: 40px;
    background: #ccc;
    display: flex;
    cursor: pointer;
    border-radius: 50px;
    transition: all 0.25s ease 0s;
    margin-right: 50px;
    margin-left: 0px;
    background: rgb(135, 110, 35);
}
input.Bswitch {
    display: none;
}
input.Bswitch:checked + label.switch {
    margin-right: 00px;
    margin-left: 50px;
    background: rgb(212, 175, 55);
}
/*Generico*/