div.direccion {
    width: 60%;
    height: 60%;
    margin-right: 2%;
}
div.text {
    margin: 5px;
    border: none;
    background: none;
    box-shadow: none;
}
div.direccion img {
    width: 32%;
    margin-right: 3%;
    border: none;
    background: none;
    display: inline;
}
div.admin {
    margin: 1% 3% 0px auto ;
    width: 60%;
    height: 60%;
    margin-right: 2%;
}
img.mihaku {
    width: 98%;
    height: 98%;
    border: 5px solid rgb(160, 0, 0);
    border-radius: 100%;
}
table.admin tr td {
    padding: 1%;
}
h2.contacto {
    width: 100%;
    text-align: center;
}
table {
    width: fit-content;
}
tr {
    width: fit-content;
}
fieldset {
    padding: 1%;
    width: fit-content;
    border: 5px solid rgb(212, 175, 55);
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    color: black;
    box-shadow: 5px 5px 18px rgb(100, 100, 100);
}
legend {
    padding: 0;
}
fieldset h2 {
    border: 4px solid rgb(212, 175, 55);
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    padding: 2px 5px;
}
td {
    width: fit-content;
}
td.center {
    padding: 1%;
    text-align: center;
}
textarea {
    width: 99%;
    border-radius: 10px;
    background-color:rgb(230, 230, 230);
    border: solid rgb(212, 175, 55) 2px;
}
input.txt {
    width: 98%;
    border-radius: 5px;
    background-color:rgb(230, 230, 230);
    border: solid rgb(212, 175, 55) 2px;
}
button {
    font-size: larger;
    border-radius: 20px;
    border: solid 3px rgb(135, 110, 35);
    background-color: rgb(212, 175, 55);
    color: white;
}
button:hover:not(.active) {
    border-radius: 20px;
    border: solid 3px rgb(212, 175, 55);
    background-color: rgb(135, 110, 35);
    color: white;
}
#rank {
    width: 35%;
    margin: auto;
}