
@import url('https://fonts.googleapis.com/css2?family=UnifrakturMaguntia&display=swap');
.separado{
    margin: 8px;
    width: 50%;
    height: 50%;
    align-self: center;
    margin: 1% 24%;
    width: 50%;

}
table tr td{
    border-style: solid;
    border-color: rgb(212, 175, 55);
    border-radius: 15%;
    border-collapse: collapse;
    background-color: rgb(212, 175, 55);
}
table{
    background-color: rgb(212, 175, 55);
}
.videazos{
    margin: 1% 24%;
    margin: auto;
    padding: 0%;
    background-color: rgb(212, 175, 55);
    top: 45%;
    right: 50%;
    width: 50%;
    border-radius: 15px;

}
div.videazo{
    margin: 1% 24%;
    width: 50%;
}
div.textaco{
    margin: 1% 24%;
    width: 50%;
}
main{
    text-align: center;

}
h2{
    color: rgb(255, 191, 0);
    text-align: center;
    font-family: 'UnifrakturMaguntia', cursive;
    background-color: black;
}
iframe{
    border-radius: 20px;
    box-shadow: 7px 7px 7px rgb(207, 142, 0);
}

.Angel{
    width: 450px;
    height: 380px;
    position: absolute;
    top: 130px;
    left: 0%;
    
}
.Goblin{
    width: 380px;
    height: 350px;
    position: absolute;
    top: 130px;
    right: 2%;
}
.nivMizzet{
    width: 430px;
    height: 350px;
    position: absolute;
    top: 88%;
    left: 0%;
}
.Sliver{
    width: 420px;
    height: 350px;
    position: absolute;
    top:88%;
    right: 2%;
}