
table{
    width: 900px;
    height: 750px;
    margin-left: 25%;
}
p{
    font-size: 22px;
}
.imagenNS{
      width: 20vw;
      height: 55vh;  
      border-radius: 20px; 
}
.margenes{
    padding: 0%;
    margin: auto 37vh ;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}